._paper {
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 900px;
    padding: 10px 20px 20px 20px;
}

.hoo {
    gap: 10px;
    display: flex;
    margin-top: 16px;
}

._actions {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}
